:host {
  display: block;

  ::ng-deep {
    .p-dropdown.p-component.p-dropdown-clearable {
      height: 37px;
      width: 100%;
      display: flex !important;
      align-items: center !important;
      padding: 0 0.2rem;
      font-size: 14px;
    }
  }
}
