<shared-page-title [config]="pageTitleConfig"></shared-page-title>

<ng-template #emptyTemplate>
	<shared-empty-template [message]="'Hiç ürün bulunamadı.'"></shared-empty-template>
</ng-template>

<div class="row">
	<ng-container *ngIf="products.length > 0; else emptyTemplate">
		<ng-container *ngFor="let product of products">
			<div class="col-12 col-xl-6">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<h5 class="m-0 font-weight-bold">{{ product.name }}</h5>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-xl-8">
								<p class="card-text mb-0"><span class="font-weight-bold">Sektörler: </span> {{ product.sectorNames.join(', ') }}</p>
								<p class="card-text mb-0"><span class="font-weight-bold">Birim: </span> {{ product.unit }}</p>
								<p class="card-text"><span class="font-weight-bold">Oluşturulma Tarihi: </span> {{ product.createdDate | date: dateFormatEnum.fullDate }}</p>

								<div class="card-custom-actions">
									<button (click)="openDetail(product.id)" type="button" class="btn btn-primary font-weight-bold px-4">Detay</button>
									<a [routerLink]="'update/' + product.id" class="btn btn-primary font-weight-bold px-4">Güncelle</a>
									<button (click)="softDelete(product.id)" type="button" class="btn btn-danger font-weight-bold px-4">Sil</button>
								</div>
							</div>

							<div *ngIf="!!product.photoPath" class="col-12 col-xl-4">
								<img [src]="product.photoPath | withApiUrl" [alt]="product.name" class="d-none d-xl-block custom-img" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>

<ng-container *ngIf="products.length > 0">
	<div class="row">
		<div class="col-12">
			<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="paginationResponse?.itemCount || 4" [totalRecords]="paginationResponse?.totalCount || 0" [rowsPerPageOptions]="[4, 6, 10]"></p-paginator>
		</div>
	</div>
</ng-container>